.supportTeam {
  background-image: url("https://media.istockphoto.com/id/1418855913/vector/3d-smiling-young-woman-with-headphones-microphone-and-laptop-customer-service-support-or.jpg?s=612x612&w=0&k=20&c=Li-QLIs4E8_sURaE_Gy5sq3Z-NJj0_ExLqQAHPJWkzI=");
  background-size: 35%;
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
